
.column-left

{ 

    width:25%;
    background-color:black;
    left:0;
    position:fixed;
    
    
} 

.column-right

{ 

     background-color:black;
     width:25%;
     right:0;
     position:fixed;
     
}

.container
{
    width:50%;
    margin:0 auto;
    position:relative;
    

}


.column-center

{ 
    
    z-index:0; 
    opacity:1;
    margin-left:25%;
    background-color:black;
    margin-right:25%;
   

}

