
.column-left

{ 

    width:25%;
    background-color:black;
    left:0;
   
    position:fixed;
    overflow-x:hidden;
    
} 

.column-right

{ 

     background-color:black;
     width:25%;
     right:0;
     position:fixed;
     
}

@media screen and (min-width: 0px) and (max-width: 700px) {



  .sidecontainer{width:0; display:none}
 
 



.container
{
    width:50%;
    margin:0 auto;
    position:relative;
    

}


.column-center

{ 
    
    z-index:0; 
    opacity:1;
    margin-left:25%;
    background-color:black;
    margin-right:25%;
    width: 50%;

}

}