
.column-left

{ 

    width:25%;
    background-color:black;
    left:0;
    position:fixed;
    
    
} 

.column-right

{ 

     background-color:black;
     width:25%;
     right:0;
     position:fixed;
     
}

@media screen and (min-width: 0px) and (max-width: 500px) {

 
  .column-left{position:relative; width:0;display:none}
  .column-right{position:relative;width:0;display:none}
  .container{width:0; display:none}
 
  .column-center

{ 
    
    z-index:0; 
    opacity:1;

    background-color:black;
  
   width:100%;
   float:left;


}
.app{
    float:left;
   

}



}





.container
{
    width:50%;
    margin:0 auto;
    position:relative;
    

}


.column-center

{ 
    
    z-index:0; 
    opacity:1;
    margin-left:25%;
    background-color:black;
    margin-right:25%;
   

}

