ul {list-style-type:none} 
li {display:inline-block; text-decoration:none;  } 
.posts {clear:both} 


a{
    text-decoration: none;
   
}

text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
          
.blocks{
    
    align-items: left;

    clear:both;
   min-width: 300px;
   margin: auto;

}
.col{

    font-size: 20px;
    font-family: fantasy;
 
   

}
.col a {
color:yellowgreen;

}
.caption {
    color: white;
    background:#ff3399; /* fallback */
  
      padding:10px;
  text-decoration:none;  

        
    
}

.innerspan{
     padding: 0 5px;
      background: transparent;

}

figcaption {
  position: absolute;
  bottom: 10%;
  width: 100%; 
 font-family:Courier New, Courier, monospace;

  font-size: 1.4rem;
  font-weight: bold;
  line-height: 150%;
text-transform: capitalize;

}
.orangeText{

color:orange; font-family:segoe print; display:block

}
.post_images{

    width:50%; 
}
figure{

    position:relative; margin-bottom:20px;
  
}
@media screen and (min-width: 0px) and (max-width: 800px) {
 
 .orangeText{display:none}
.post_images{

    width:150%; height:150%;
    margin-left:-20px;
}
#art-cloud{
    display:none;

 }

figure{

    position:relative; margin-bottom:20px;
    margin-left:-40px;
    margin-right:30px;
}

.caption {
    color: white;
    background:#ff3399; 
  
  
    padding-left:0px;
    text-decoration:none;  

    padding: 0px;
}

.innerspan{
     padding: 0, 1px;
      background: transparent;
      min-width:140%
}

figcaption {
  position: absolute;
  bottom: 10%;
  width: 140%; 
 font-family:Courier New, Courier, monospace;

  font-size: 1.2rem;
  font-weight: bold;
  line-height: 100%;
text-transform: capitalize;
  

 

}
}