
<div class="container">
<form (ngSubmit)="SaveComment(form.value)" #form="ngForm">

    <div class="row">
        <div class="col-sm-12">
            <textarea class="col-sm-12" id="commentInput" name="commentInput" type="text" placeholder="please provide your comment" ngModel></textarea>
        </div>
    </div>
    <div class="form-group row">
       <div class="offset-sm-9 col-sm-3">  
           <button type="submit" style="position:relative; margin-bottom:70px; right:0; top:20px; color:white; background-color:hotpink; border-color:hotpink; cursor:pointer">Submit</button>
            
       </div>
      
       
    </div>
</form>

 <fieldset *ngIf="comments.length>0" style="margin-top:50px">

     <span style="color:hotpink; font-size:35px; font-weight:bolder">Comments</span>

    <div *ngFor="let comment of comments">
             <span style="color:lightblue">{{comment.author==null|| comment.author==""? "Anonymous":comment.author}}:</span> <br/>  
             <p style="color:hotpink; text-indent:50px">{{comment.content}}</p>
          <div class="form-group row">
           <!-- <div class="offset-sm-9 col-sm-3">
                
                 <button (click)="deleteComment(comment.postid, comment.id)" style="background-color:black;color:white; border:black; cursor:pointer">Delete</button>
            </div>-->
         </div>
    </div>
 </fieldset>
</div>